
@model blackjackgame.Models.GameViewModel

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
<link rel=stylesheet href="~/css/site.css" type="text/css">

<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#start").click(function () {
           $.ajax({
                type: "POST",
                url:  "@Url.Action("Start", "Home")",
                success: function  (response) {
                    $("body").html(response);
                  
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        });
    });

        $("#hit").click(function () {
            $.ajax({
                type: "POST",
                url:  "@Url.Action("Hit", "Home")",
                success: function  (response) {
                    $("body").html(response);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        });
           $("#stand").click(function () {
            $.ajax({
                type: "POST",
                url:  "@Url.Action("Stand", "Home")",
                success: function  (response) {
                    $("body").html(response);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        });
    
</script>

<div class="container">
    <h1 id="title">Let's play Blackjack!</h1>
    <form >
        <div id="newgamecontainer"><asp:Button class="buttons" id="start"><p class="pixeltextbuttons">New Game</p></asp:Button></div>
        
        @if (Model.gamestart)
        {
            <table id="cardcontainer">
                <tr>
                    <td>
                        <div>
                            @if (Model.dealerhand[1].shown == false){

                            <p class="pixeltext">dealer</p><p class="scoretext"> ?</p>
                            }
                            else
                            {
                                <p class="pixeltext">dealer</p><p class="scoretext">@Model.dealerval</p>
                            }
                            @foreach (Card card in Model.dealerhand)
                            {
                                    <img class="images" src='@Url.Action(card.shown ? card.image : "BACK.png", "images")' />
                               
                            }
                            @if (Model.dealerbust)
                            {
                                <p class="pixeltext">dealer bust!</p>
                            }
                            @if (Model.dealerwin)
                            {
                                <p class="pixeltext">dealer wins!</p>
                            }
                        </div>
                    </td>
                    <td>

                        <div>
                            <p class="pixeltext">you</p><p class="scoretext">@Model.playerval</p>
                            @foreach (Card card in Model.playerhand)
                            {
                                <img class="images" src='@Url.Action(card.image, "images")' />
                            }
                            @if (Model.playerbust)
                            {
                                <p class="pixeltext">you bust!</p>
                            }
                            @if (Model.playerwin)
                            {
                                <p class="pixeltext">you win!</p>
                            }
                        </div>
                    </td>
                </tr>
            </table>
            @if (Model.draw)
            {
                <p id="draw" class="pixeltext">it's a draw!</p>
            }
            @if(!Model.dealerwin && !Model.playerwin && !Model.draw){
            <table id="buttonscontainer">
                <tr>
                <td/>
                <td>

                            <asp:Button class="buttons" id="hit"><p class="pixeltextbuttons">Hit</p></asp:Button>
                </td>
                <td>

                            <asp:Button class="buttons" id="stand"><p class="pixeltextbuttons">Stand</p></asp:Button>
                </td>
                <td/>
            </tr>
        </table>
            }
        }
    </form>
</div>

